
body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url("background.webp");*/
    max-width: 90%;
}
h1{
    color: darkslategrey;
    font-size: 30pt;
    text-align: center;

}
div{
    font-size: 16pt;
    text-align: center;
}
img.logo{
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 15%;

}

.container {
    padding: 16px;
}

button {
    background-color: green;
    color: white;
    border-radius:10%;
    width: 15%
}

input[type=text], input[type=password] {
   alignment: center;
    width: 30%;
    height: 2%;
    padding: 7px;
    display: block;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

span.register{
    font-size: 15px;
}
span.commit{
    font-size: 15px;
}

chooseimg{
    alignment: center;
}